@CHARSET "UTF-8";
   
   /* 시에스엣스 */
	.error{
		color: red;
		display: none;
		font-size: 12px;
		margin-left: 90px;
	}
	.error2{
		color: red;
		display: none;
		font-size: 12px;
		margin-left: 90px;
	}
	
	#login-div{
		display:block;
		height:34px;
	}
