<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.persistence.BoardsDAO">
	<sql id="wheresql_bno">
	where bno = #{bno}
	</sql>
	<select id="boardsListAll" resultType="BoardsVO">
		select * from boards
		order by bno desc, bregdate desc
	</select>
	
	<select id="getMaxBno" resultType="int">
		select MAX(bno)+1 from boards
	</select>
	
	<select id="boardsSelectByNo" resultType="BoardsVO">
		SELECT *
		FROM boards 
		<include refid="wheresql_bno"/>
	</select>
	
	<insert id="boardsInsert">
		INSERT INTO boards
		(bno, btitle, uid, bregdate)
		VALUES(#{bno}, #{btitle}, #{uid}, CURRENT_TIMESTAMP);
	</insert>
	
	<update id="boardsUpdate">
		UPDATE boards
		SET btitle=#{btitle}, uid=#{uid}, bregdate=CURRENT_TIMESTAMP
		<include refid="wheresql_bno"/>
	</update>
	
	<delete id="boardsDelete">
		DELETE FROM  boards
		<include refid="wheresql_bno"/>
	</delete>
	
</mapper>