<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.persistence.BoardsDAO">

	<sql id="wheresql_bno">
		where bno = #{bno}
	</sql>
	<select id="boardsListAll" resultType="BoardsVO">
		select bno, btitle, uid, bregdate, breadcnt from boards
		where bno > 0
		order by bno desc, bregdate desc
	</select>
	
	<select id="getMaxBno" resultType="int">
		select MAX(bno)+1 from boards
	</select>
	
	<select id="boardsSelectByNo" resultType="BoardsVO">
		SELECT b.bno, b.btitle, bc.bcontent, b.uid, b.bregdate, b.breadcnt
		FROM boards b join boardscontent bc
		on b.bno=bc.bno
		where b.bno = #{bno}
	</select>
	
	<select id="listSearch" resultType="BoardsVO">
		SELECT * FROM boards
		<include refid="search"></include>
		order by bno desc,bregdate desc
		limit #{pageStart},#{perPageNum}
	</select>
	
	<select id="searchCount" resultType="int">
		select count(*) from boards 
		<include refid="search"/>
	</select>
	
	<sql id="search">
		<if test="searchType !=null">
			<if test="searchType =='t'.toString()">
				where btitle like CONCAT('%',#{keyword},'%')
			</if>
			<if test="searchType =='c'.toString()">
				where bcontent like CONCAT('%',#{keyword},'%')
			</if>
			<if test="searchType =='w'.toString()">
				where uid like CONCAT('%',#{keyword},'%')
			</if>
			<if test="searchType =='tc'.toString()">
				where btitle like CONCAT('%',#{keyword},'%') or bcontent like CONCAT('%',#{keyword},'%')
			</if>
			<if test="searchType =='cw'.toString()">
				where bcontent like CONCAT('%',#{keyword},'%') or uid like CONCAT('%',#{keyword},'%')
			</if>
			<if test="searchType =='tcw'.toString()">
				where btitle like CONCAT('%',#{keyword},'%') or bcontent like CONCAT('%',#{keyword},'%') or uid like CONCAT('%',#{keyword},'%')
			</if>
		</if>
	</sql>
	
	<insert id="boardsInsert">
		INSERT INTO boards
		(bno, btitle, uid, bregdate)
		VALUES(#{bno}, #{btitle}, #{uid}, CURRENT_TIMESTAMP);
	</insert>
	<insert id="boardsContentInsert">
		INSERT INTO boardscontent
		(bno, bcontent)
		VALUES(#{bno}, #{bcontent});
	</insert>
	
	<update id="boardsUpdate">
		UPDATE boards
		SET btitle=#{btitle}
		<include refid="wheresql_bno"/>
	</update>
	<update id="boardsContentUpdate">
		UPDATE boardscontent
		SET bcontent=#{bcontent}
		<include refid="wheresql_bno"/>
	</update>

	<delete id="boardsDelete">
		DELETE FROM  boards
		<include refid="wheresql_bno"/>
	</delete>
	<delete id="boardsContentDelete">
		DELETE FROM boardscontent
		<include refid="wheresql_bno"/>
	</delete>
	
	<update id="setReadCnt">
		UPDATE boards
		SET breadcnt=breadcnt+1
		<include refid="wheresql_bno"/>
	</update>
</mapper>