<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.persistence.GoodsDAO">

	<sql id="wheresql_gcode">
		where gcode = #{gcode}
	</sql>
	<select id="getMaxGcodePlus1" resultType="String">
		select CONCAT(#{gcategoryfl}, right(gcode, 5)+1)
		from goods 
		<include refid="wheresql_gcode"/>
	</select>
	<select id="getMaxGcodeByCategory" resultType="String">
		select MAX(gcode) 
		from goods 
		where gcategory like CONCAT(#{gcategoryfl},'%')
	</select>

	<select id="getAllGoodsCategory" resultType="String">
		select gcategory from goodscategory
		order by gcategory desc
	</select>
	
	 <select id="goodsSelectByCode" resultType="GoodsVO">
		select  g.gcode, gname, gcategory, gtitleimg, gprice, gsupprice, gregdate,
		gisdisplay, gstock, gdesc, gdetailimg
		FROM goodsdetail gd join goods g
		on g.gcode = gd.gcode
		join goodsstock gs
		on g.gcode = gs.gcode
		right outer join goodsdetailimg gdi
		on g.gcode = gdi.gcode
		where g.gcode = #{gcode}
		group by g.gcode
		
	</select> 
	
	<select id="listSearch4Admin" resultType="GoodsVO">
		SELECT g.gcode, gstock, gname, gcategory, gtitleimg, gprice, gsupprice, gregdate, gisdisplay 
		FROM goods g join goodsstock gs on g.gcode= gs.gcode
		<include refid="search"/>
		order by gregdate desc
		limit #{pageStart},#{perPageNum}
	</select>	
		
	<select id="listSearch" resultType="GoodsVO">
		SELECT g.gcode, gstock, gname, gcategory, gtitleimg, gprice, gsupprice, gregdate, gisdisplay 
		FROM goods g join goodsstock gs on g.gcode= gs.gcode
		where gisdisplay = true
		<if test="searchType !=null">
			<if test="searchType =='t'.toString()">
				and gname like CONCAT('%',#{keyword},'%')
			</if>
		</if>
		order by gregdate desc
		limit #{pageStart},#{perPageNum}
	</select>	
	<select id="searchCount" resultType="int">
		select count(*) from goods where gisdisplay = true
		<if test="searchType !=null">
			<if test="searchType =='t'.toString()">
				and gname like CONCAT('%',#{keyword},'%')
			</if>
		</if>
	</select>
	<select id="searchCount4Admin" resultType="int">
		select count(*) from goods where gisdisplay = true
		<if test="searchType !=null">
			<if test="searchType =='t'.toString()">
				and gname like CONCAT('%',#{keyword},'%')
			</if>
		</if>
	</select>
	
	<sql id="search">
		<if test="searchType !=null">
			<if test="searchType =='t'.toString()">
				<where> gname like CONCAT('%',#{keyword},'%')</where>
			</if>
		</if>
		
	</sql>
	
	<insert id="goodsInsert">
		INSERT INTO goods
		(gcode, gname, gcategory, gtitleimg, gprice, gsupprice, gregdate, gisdisplay) values
		(#{gcode},#{gname},#{gcategory},#{gtitleimg},#{gprice},#{gsupprice},#{gregdate},#{gisdisplay})
	</insert>

	
	<update id="goodsUpdate">
		UPDATE goods
		<set>
			<if test="gname != null">
				gname=#{gname},
			</if>
			<if test="gcategory != null">
				gcategory=#{gcategory},
			</if>
			<if test="gtitleimg != null">
				gtitleimg=#{gtitleimg},
			</if>
			<if test="gprice != null">
				gprice=${gprice},
			</if>
			<if test="gsupprice != null">
				gprice=${gsupprice},
			</if>
			<if test="gisdisplay != null">
				gisdisplay=${gisdisplay},
			</if>
		</set> 
		<include refid="wheresql_gcode"/>
	</update>
	<delete id="goodsDelete">
		DELETE FROM  goods
		<include refid="wheresql_gcode"/>
	</delete>
	
	
	<!-- 상품재고 관련 매퍼 -->	
	
	<insert id="goodsStockInsert">
		INSERT INTO goodsstock
		(gcode, gstock) values
		(#{gcode},#{gstock})
	</insert>
	<update id="goodsStockUpdate">
		UPDATE goodsstock
		set gstock= #{gstock}
		<include refid="wheresql_gcode"/>
	</update>
	<delete id="goodsStockDelete">
		DELETE FROM goodsstock
		<include refid="wheresql_gcode"/>
	</delete>
	
	<!-- 상품상세 관련 매퍼 -->	
	
	<insert id="goodsDetailInsert">
		INSERT INTO goodsdetail
		(gcode, gdesc) values
		(#{gcode},#{gdesc})
	</insert>
	<update id="goodsDetailUpdate">
		UPDATE goodsdetail
		set gdesc=#{gdesc}
		<include refid="wheresql_gcode"/>
	</update>
	<delete id="goodsDetailDelete">
		DELETE FROM goodsdetail
		<include refid="wheresql_gcode"/>
	</delete>
	
	<!-- 상품카테고리 관련 매퍼 -->
	
	<insert id="goodsCategoryInsert">
		INSERT INTO goodscategory
		(gcategory)	VALUES(#{gcategory});
	</insert>
	
	<delete id="goodsCategoryDelete">
		DELETE FROM goodscategory
		where gcategory = #{gcategory}
	</delete>
	
	<!-- 파일업로드 관련 매퍼 -->
	
   <insert id="addAttach">
   		INSERT INTO goodsdetailimg
		(gcode, gdetailimg) values
		(#{gcode},#{gdetailimg})
   </insert>
   
   <select id="getAttach" resultType="string">
       select gdetailimg from goodsdetailimg 
       <include refid="wheresql_gcode"/>
   </select>
   
   <delete id="deleteAttachByGdetailimg">
   		delete from goodsdetailimg
   		<include refid="wheresql_gcode"/>
   		and gdetailimg=#{gdetailimg}
   </delete>
   
   <delete id="deleteAttachByCode">
   		delete from goodsdetailimg
   		<include refid="wheresql_gcode"/>
   </delete>

</mapper>