<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.persistence.OrdersDAO">
	<resultMap id="orderResultByOcode" type="OrdersVO" >
		<id property="ono" column="ono" />
		<result property="ocode" column="ocode"/>
		<result property="uid" column="uid"/>
		<result property="oisbasket" column="oisbasket"/>
		
		<result property="oquantity" column="oquantity"/>
		<result property="odate" column="odate"/>
		<result property="ototalprice" column="ototalprice"/>
		<result property="ocondition" column="ocondition"/>
		<collection property="goods" ofType="GoodsVO" resultMap="orderGoodResult"/>
	</resultMap>
	
	<resultMap type="GoodsVO" id="orderGoodResult">
		<id property="gcode" column="gcode"/>
		<result property="gname" column="gname"/>
		<result property="gcategory" column="gcategory"/>
		<result property="gtitleimg" column="gtitleimg"/>
		<result property="gprice" column="gprice"/>
		<result property="gsupprice" column="gsupprice"/>
		<result property="gregdate" column="gregdate"/>
		<result property="gisdisplay" column="gisdisplay"/>
		<result property="gisonsale" column="gisonsale"/>
	</resultMap>
	
	<select id="ordersSelectByCode" parameterType="String" resultMap="orderResultByOcode">
		select ocode, ono, uid, oisbasket, oquantity, odate, ototalprice,ocondition,
		g.gcode, gname, gcategory, gtitleimg, gprice, gsupprice, gregdate, gisdisplay, gisonsale	 
		from orders o left join goods g on o.gcode=g.gcode
		<include refid="wheresql_ocode"/>
	</select>
	<select id="ordersSelectByNo" parameterType="int" resultMap="orderResultByOcode">
		select ocode, ono, uid, oisbasket,  oquantity, odate, ototalprice,ocondition,
		g.gcode, gname, gcategory, gtitleimg, gprice, gsupprice, gregdate, gisdisplay, gisonsale	 
		from orders o left join goods g on o.gcode=g.gcode
		<include refid="wheresql_ono"/>
	</select>
	<select id="ordersSelectById" parameterType="String" resultMap="orderResultByOcode">
		select ocode, ono, uid, oisbasket,  oquantity, odate, ototalprice,ocondition,
		g.gcode, gname, gcategory, gtitleimg, gprice, gsupprice, gregdate, gisdisplay, gisonsale	 
		from orders o left join goods g on o.gcode=g.gcode
		where uid = #{uid} and oisbasket = true
	</select>
	<select id="ordersSelectByIdWithOcondition1" parameterType="String" resultMap="orderResultByOcode">
		select ocode, o.ono, o.uid, oisbasket,  oquantity, odate, ototalprice,ocondition,
		g.gcode, gname, gcategory, gtitleimg, gprice, gsupprice, gregdate, gisdisplay, gisonsale,
		rno, rtitle, rcontent, rregdate
		from orders o left join goods g on o.gcode=g.gcode
		left join reviews r on o.ono=r.ono
		where o.uid = #{uid} and rno is null
		and ocondition in (1,-1)
		<if test="ocondtion == 1">
			and ocondition = 1
		</if>
	</select>

	<sql id="wheresql_ocode">
		where ocode = #{ocode}
	</sql>
	<sql id="wheresql_ono">
		where ono = #{ono}
	</sql>
	<select id="ordersListAll" resultType="OrdersVO">
		select ocode, ono, uid, oisbasket, gcode, oquantity, odate, ototalprice
		from orders
		order by ocode desc, odate desc
	</select>
	<select id="listSearch" resultType="OrdersVO">
		SELECT * 
		FROM orders
		<include refid="search"/>
		order by ocode desc, odate desc
		limit #{pageStart},#{perPageNum}
	</select>	
	
	<select id="getMaxOcode" resultType="String">
		select concat(left(#{uid},2),lpad(substring(MAX(ocode), 2)+1, 5,'0')) 
		from orders
	</select>

	
	<select id="searchCount" resultType="int">
		select count(*) from orders 
		<include refid="search"/>
	</select>
	
	<sql id="search">
		<if test="searchType !=null">
			<if test="searchType =='t'.toString()">
				where ocode like CONCAT('%',#{keyword},'%')
			</if>
			<if test="searchType =='c'.toString()">
				where gcode like CONCAT('%',#{keyword},'%')
			</if>
			<if test="searchType =='w'.toString()">
				where uid like CONCAT('%',#{keyword},'%')
			</if>
			<if test="searchType =='tc'.toString()">
				where ocode like CONCAT('%',#{keyword},'%') or gcode like CONCAT('%',#{keyword},'%')
			</if>
			<if test="searchType =='cw'.toString()">
				where gcode like CONCAT('%',#{keyword},'%') or uid like CONCAT('%',#{keyword},'%')
			</if>
			<if test="searchType =='tcw'.toString()">
				where ocode like CONCAT('%',#{keyword},'%') or gcode like CONCAT('%',#{keyword},'%') or uid like CONCAT('%',#{keyword},'%')
			</if>
		</if>
	</sql>
	
	<insert id="insertShoppingBag">
		INSERT INTO orders
		(ocode,uid, gcode, oquantity) values
		(#{ocode}, #{uid},#{goods.gcode}, #{oquantity})
	</insert>
	
	<update id="ordersTotalUpdate">
		UPDATE orders
		<set>
			<if test="oquantity >0">
				oquantity=#{oquantity}, 
			</if>	
			<if test="ototalprice >0">
				ototalprice=#{ototalprice},
			</if>	
			<if test="ocondition != null">
				ocondition=#{ocondition},
			</if>	
		</set> 
		<include refid="wheresql_ocode"/>
	</update>
	<update id="oisbasketTotalUpdate">
		UPDATE orders
		<set>
				oisbasket=#{oisbasket},
		</set> 
		<include refid="wheresql_ocode"/>
	</update>
	<update id="ordersEachUpdate">
		UPDATE orders
		<set>
			<if test="oisbasket != null">
				oisbasket=#{oisbasket},
			</if>	
			<if test="oquantity  > 0">
				oquantity=#{oquantity}, 
			</if>	
			<if test="ototalprice  > 0">
				ototalprice=#{ototalprice},
			</if>	
			<if test="ocondition != null">
				ocondition=#{ocondition},
			</if>	
		</set>
		<choose>
			<when test="ono > 0">
				<include refid="wheresql_ono"/>
			</when>
			<when test="ocode != null">
				<include refid="wheresql_ocode"/>
			</when>
		</choose>
	</update>
	
	<delete id="ordersDeleteByNo">
		DELETE FROM  orders
		<include refid="wheresql_ono"/>
	</delete>
	

</mapper>